i {
    color: rgb(41, 137, 65);
}

#box {
    background-color: rgba(255, 0, 0, 0.198);
}

body {}

.label-carga {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.contenedor-carga {
    width: 50%;
    max-width: 400px;
}

.progress {
    height: 40px;
    border-radius: 10px;
}


#formulariocarga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.constainer {
    background-color: rgba(245, 245, 245, 0.944);
    width: 100vw;
    padding-left: 2vw;
    padding-right: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    background-color: rgba(245, 245, 245, 0.944);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cierre {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: rgba(136, 200, 168, 0.944);
    width: 100%;


}

#logo {
    align-self: center;
    width: 100vw;
    height: 500px;
    background-color: rgba(136, 200, 168, 0.944);
    position: sticky;
}

canvas {
    position: sticky;
}

.login-box {

    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.imagen-login {
    width: 250px;
    height: 125px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#dni {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}